[user]
	name = Jon Gjengset
	email = jon@thesquareplanet.com
	signingkey = 7176DC71
[ui "color"]
	ui = always
[color]
	ui = true
[core]
	excludesfile = ~/.gitignore
	autocrlf = input
	safecrlf = true
[merge]
	tool = vimdiff
[alias]
	st = status
[push]
	default = simple
[help]
	autocorrect = 1
[github]
	user = jonhoo
[diff]
	algorithm = patience
[commit]
	gpgsign = true
