[submodule ".vim/bundle/mustache"]
	path = .vim/bundle/mustache
	url = git://github.com/juvenn/mustache.vim.git
[submodule ".vim/bundle/ctrlp"]
	path = .vim/bundle/ctrlp
	url = git://github.com/kien/ctrlp.vim.git
[submodule ".vim/bundle/local_vimrc"]
	path = .vim/bundle/local_vimrc
	url = git://github.com/vim-scripts/localvimrc.git
[submodule ".vim/bundle/haskell-syntax"]
	path = .vim/bundle/haskell-syntax
	url = git://github.com/vim-scripts/haskell.vim.git
[submodule "urxvt-perls"]
	path = urxvt-perls
	url = git://github.com/muennich/urxvt-perls.git
[submodule ".vim/bundle/css3-syntax"]
	path = .vim/bundle/css3-syntax
	url = git://github.com/hail2u/vim-css3-syntax.git
[submodule ".vim/bundle/vim-seek"]
	path = .vim/bundle/vim-seek
	url = git://github.com/goldfeld/vim-seek.git
[submodule ".vim/bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule ".vim/bundle/haskell-template-syntax"]
	path = .vim/bundle/haskell-template-syntax
	url = git://github.com/pbrisbin/html-template-syntax.git
[submodule ".vim/bundle/php-syntax"]
	path = .vim/bundle/php-syntax
	url = git://github.com/StanAngeloff/php.vim.git
[submodule ".vim/bundle/securemodelines"]
	path = .vim/bundle/securemodelines
	url = https://github.com/ciaranm/securemodelines.git
[submodule ".vim/bundle/vim-opencl"]
	path = .vim/bundle/vim-opencl
	url = https://github.com/petRUShka/vim-opencl.git
[submodule ".vim/bundle/graphviz-dot"]
	path = .vim/bundle/graphviz-dot
	url = https://github.com/wannesm/wmgraphviz.vim.git
[submodule ".vim/bundle/vim-fish"]
	path = .vim/bundle/vim-fish
	url = https://github.com/dag/vim-fish.git
[submodule ".vim/bundle/tern"]
	path = .vim/bundle/tern
	url = https://github.com/marijnh/tern_for_vim.git
[submodule ".vim/bundle/vim-airline"]
	path = .vim/bundle/vim-airline
	url = git://github.com/bling/vim-airline.git
[submodule ".vim/bundle/tlib_vim"]
	path = .vim/bundle/tlib_vim
	url = https://github.com/tomtom/tlib_vim.git
[submodule ".vim/bundle/toml"]
	path = .vim/bundle/toml
	url = https://github.com/cespare/vim-toml.git
[submodule ".vim/bundle/vim-go"]
	path = .vim/bundle/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule ".vim/bundle/neosnippet"]
	path = .vim/bundle/neosnippet
	url = https://github.com/Shougo/neosnippet.vim.git
[submodule ".vim/bundle/neosnippet-snippets"]
	path = .vim/bundle/neosnippet-snippets
	url = https://github.com/Shougo/neosnippet-snippets.git
[submodule ".vim/bundle/neocomplete"]
	path = .vim/bundle/neocomplete
	url = https://github.com/Shougo/neocomplete.vim.git
[submodule ".vim/bundle/echodoc"]
	path = .vim/bundle/echodoc
	url = https://github.com/Shougo/echodoc.vim.git
[submodule ".vim/bundle/vim-javascript"]
	path = .vim/bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule ".vim/bundle/vim-js-libraries"]
	path = .vim/bundle/vim-js-libraries
	url = https://github.com/othree/javascript-libraries-syntax.vim.git
[submodule ".vim/bundle/vim-latex"]
	path = .vim/bundle/vim-latex
	url = git://github.com/lervag/vim-latex
[submodule ".vim/bundle/base16"]
	path = .vim/bundle/base16
	url = https://github.com/chriskempson/base16-vim
[submodule ".vim/bundle/ag"]
	path = .vim/bundle/ag
	url = https://github.com/rking/ag.vim.git
[submodule ".vim/bundle/gnuplot"]
	path = .vim/bundle/gnuplot
	url = https://github.com/vim-scripts/gnuplot-syntax-highlighting.git
[submodule ".vim/bundle/rust"]
	path = .vim/bundle/rust
	url = https://github.com/wting/rust.vim.git
[submodule ".vim/bundle/racer"]
	path = .vim/bundle/racer
	url = https://github.com/phildawes/racer.git
