[user]
	name = Jon Gjengset
	email = jon@thesquareplanet.com
	signingkey = 7176DC71
[ui "color"]
	ui = always
[color]
	ui = true
[core]
	excludesfile = ~/.gitignore
	autocrlf = input
	safecrlf = true
[merge]
	tool = vimdiff
[alias]
	st = status
	lg = log --oneline
	last = log -1 HEAD
[push]
	default = simple
[help]
	autocorrect = 1
[url "git.launchpad.net"]
	insteadOf = lp:
[url "git@g.csail.mit.edu:"]
	insteadOf = g:
[url "git@github.com:"]
	insteadOf = gh:
[github]
	user = jonhoo
[diff]
	algorithm = patience
	compactionHeuristic = true
[commit]
	gpgsign = true
