[submodule ".vim/bundle/mustache"]
	path = .vim/bundle/mustache
	url = git://github.com/juvenn/mustache.vim.git
[submodule ".vim/bundle/ctrlp"]
	path = .vim/bundle/ctrlp
	url = git://github.com/kien/ctrlp.vim.git
[submodule ".vim/bundle/vim-powerline"]
	path = .vim/bundle/vim-powerline
	url = git://github.com/Lokaltog/vim-powerline.git
[submodule ".vim/bundle/snipmate"]
	path = .vim/bundle/snipmate
	url = git://github.com/msanders/snipmate.vim.git
[submodule ".vim/bundle/solarized"]
	path = .vim/bundle/solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule ".vim/bundle/local_vimrc"]
	path = .vim/bundle/local_vimrc
	url = git://github.com/vim-scripts/localvimrc.git
[submodule ".vim/bundle/web-indent"]
	path = .vim/bundle/web-indent
	url = git://github.com/vim-scripts/JavaScript-Indent.git
[submodule ".vim/bundle/haskell-syntax"]
	path = .vim/bundle/haskell-syntax
	url = git://github.com/vim-scripts/haskell.vim.git
[submodule ".vim/bundle/js-syntax"]
	path = .vim/bundle/js-syntax
	url = git://github.com/othree/vim-javascript-syntax.git
[submodule "urxvt-perls"]
	path = urxvt-perls
	url = git://github.com/muennich/urxvt-perls.git
[submodule ".vim/bundle/vim-less"]
	path = .vim/bundle/vim-less
	url = git://github.com/groenewege/vim-less.git
[submodule ".vim/bundle/css3-syntax"]
	path = .vim/bundle/css3-syntax
	url = git://github.com/hail2u/vim-css3-syntax.git
[submodule ".vim/bundle/vim-seek"]
	path = .vim/bundle/vim-seek
	url = git://github.com/goldfeld/vim-seek.git
[submodule ".vim/bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule ".vim/bundle/switch"]
	path = .vim/bundle/switch
	url = git://github.com/AndrewRadev/switch.vim.git
[submodule ".vim/bundle/haskell-template-syntax"]
	path = .vim/bundle/haskell-template-syntax
	url = git://github.com/pbrisbin/html-template-syntax.git
[submodule ".vim/bundle/php-syntax"]
	path = .vim/bundle/php-syntax
	url = git://github.com/StanAngeloff/php.vim.git
[submodule ".vim/bundle/ycm"]
	path = .vim/bundle/ycm
	url = git://github.com/Valloric/YouCompleteMe.git
[submodule ".vim/bundle/securemodelines"]
	path = .vim/bundle/securemodelines
	url = https://github.com/ciaranm/securemodelines.git
[submodule ".vim/bundle/vim-opencl"]
	path = .vim/bundle/vim-opencl
	url = https://github.com/petRUShka/vim-opencl.git
[submodule ".vim/bundle/graphviz-dot"]
	path = .vim/bundle/graphviz-dot
	url = https://github.com/wannesm/wmgraphviz.vim.git
