#include "/home/jon/dev/others/solarized/xresources-colors-solarized/Xresources"
emacs*geometry:           120x50
*faceName:           inconsolata:pixelsize=15

! urxvt
URxvt.depth:           32
URxvt.background:      rgba:0000/2b00/3600/dddd
URxvt.font:            xft:inconsolata:size=12
URxvt.scrollBar:       false
URxvt.geometry:        130x30
URxvt.perl-ext-common: default,matcher
URxvt.urlLauncher:     /usr/bin/chromium
URxvt.matcher.button:  1 

! Xft settings ---------------------------------------------------------------

Xft.dpi:        96
Xft.antialias:  true
Xft.hinting:    true
Xft.hintstyle:  hintslight

! xterm ----------------------------------------------------------------------
xterm*geometry:           100x25
!xterm*font:             -*-dina-medium-r-*-*-16-*-*-*-*-*-*-*
xterm*dynamicColors:      true
xterm*utf8:               1
xterm*eightBitInput:      true
xterm*saveLines:          512
xterm*scrollTtyKeypress:  true
xterm*scrollTtyOutput:    false
xterm*jumpScroll:         true
xterm*multiScroll:        true
xterm*toolBar:            false
