@-moz-document url(chrome://browser/content/browser.xhtml) {
	/* tabs on bottom of window */
	#navigator-toolbox { -moz-box-ordinal-group: 10; }
	#titlebar { -moz-box-ordinal-group: 10; }
	#urlbar-results { margin-top: -35vh !important; }
	.urlbarView-body-inner { }
	#urlbarView-results { }
	.search-one-offs { display: none; }
	.tab-background { border-top: none !important; }
	#navigator-toolbox::after { border: none; }
	#TabsToolbar .tabbrowser-arrowscrollbox,
	#tabbrowser-tabs, .tab-stack { min-height: 28px !important; }
	.tabbrowser-tab { font-size: 80%; }
	.tab-content { padding: 0 5px; }
	.tab-close-button .toolbarbutton-icon { width: 12px !important; height: 12px !important; }
}
